@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    background-color: rgb(255, 255, 255);
}
main {
    background-color: #faf8f8;
    display: flex;
    padding-top: 20px;
}

nav{
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
input{
    width: 348px;
    height: 30px;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    border-left: 1px solid rgba(204, 204, 204, 1);
    border-top: 1px solid rgba(204, 204, 204, 1);
}
button{
    width: 47px;
    height: 31px;
    border: 1px solid rgba(204, 204, 204, 1);
}
#menu-logo {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#procurar{
    display: flex;
    align-items: center;
}
#funcionalidades-usuario{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.funcionalidade {
    width: 25px;
}
#video-principal {
    width: 852px;/*852px*/
    height: 500px;
}
#video {
    display: flex;
    justify-content: right;
    padding-right: 25px;
}
#video-titulo {
    padding-left: 78px;
    margin-top: 16px;
    margin-bottom: 16px;
}
#video-canal-interacoes {
    padding-left: 69px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#info-canal{
    display: flex;
    align-items: center;
}
#informacoes{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}
#informacoes h2, p{
    font-size: 15px;
}
#inscreva-se{
    background-color: rgba(204, 0, 0, 1);
    width: 139px;
    height: 40px;
    border-radius: 2px;
    color: #fff;
}
.interage {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gostei{
    width: 60px;
}
.interage h3{
    font-size: 14px;
}
#descricao{
    padding-left: 78px;  
}


#outros-videos {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-left: 25px;
}
